#movie-card {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 40px;
  overflow: hidden;
}

.card {
  transition: transform 0.3s ease;
  overflow: scroll;
  scrollbar-width: none;
}

.card:hover {
  transform: scale(1.03);
}
#link{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background:rgb(224, 50, 50);
  padding: 8px 48px;
  border-radius: 5px;
}